@import "mixins";
@import "reset";
@import "varables";

#header1 {
  .header1 {
    padding-top: 20px;

    &--who1 {
      display: flex;
      margin-left: -239px;
      justify-content: space-around;
      align-content: center;

    }

    h1 {
      font-weight: 400;
      font-size: 17px;

      line-height: 22px;
      text-align: center;
      letter-spacing: -0.408px;
      font-feature-settings: 'case' on;
      color: #000000;
    }

    div {
      padding-left: 239px;
    }
  }

  .hero1 {
    padding-top: 30px;

    a {
      margin-left: 10px;
      color: #181717;
    }
  }

  .img6 {
    display: flex;
    justify-content: space-around;
    margin-top: -22px;
  }

  .hero2 {
    a {
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      letter-spacing: -0.408px;
      color: #000000;
      display: flex;
      justify-content: space-around;
      padding-top: 28px;
    }
  }

  .block {

    width: 362px;
    height: 601px;
    left: 33px;
    top: 137px;
    background: #F6F6F6;
    border: 1px solid #C7C7C7;
    border-radius: 9px;
    margin-left: 33px;
    margin-top: 15px;
  }

  .img7 {
    padding-top: 10px;

    &--img8 {
      margin-left: 96px;
    }

    h1 {
      font-weight: 600;
      font-size: 22px;
      line-height: 22px;
      text-align: center;
      letter-spacing: -0.408px;
      color: #000000;
      padding-top: 30px;
    }

    p {
      font-weight: 300;
      font-size: 12px;
      line-height: 22px;
      text-align: center;
      letter-spacing: -0.408px;
      color: #000000;
      padding-top: 4px;
    }
  }

  .block4 {
    margin-left: 30px;
    display: flex;
    padding-top: 5px;


    .block1 {
      width: 93px;
      height: 59px;
      left: 63px;
      top: 393px;
      background: rgba(188, 229, 252, 0.47);
      border-radius: 10px;

      h1 {
        font-weight: 600;
        padding-top: 1px;
        font-size: 12px;
        line-height: 22px;
        text-align: center;
        letter-spacing: -0.408px;
        color: #000000;
      }

      ion-icon {
        color: red;
        margin-left: 40px;
      }
    }

    .block2 {
      margin-left: 14px;
      width: 93px;
      height: 59px;
      left: 170px;
      top: 393px;
      background: rgba(188, 229, 252, 0.47);
      border-radius: 10px;

      h1 {
        font-weight: 600;
        font-size: 12px;
        line-height: 22px;
        text-align: center;
        letter-spacing: -0.408px;
        color: #000000;
      }

      h2 {
        font-weight: 600;
        font-size: 12px;
        line-height: 22px;
        text-align: center;
        letter-spacing: -0.408px;
        color: #000000;
      }

      div {
        margin-left: 10px;

        ion-icon {
          width: 10.43px;
          height: 9px;
          left: 227.93px;
          top: 434px;
          color: #F1C644;
        }
      }
    }

    .block3 {
      margin-left: 14px;
      width: 93px;
      height: 59px;
      left: 277px;
      top: 393px;
      background: rgba(188, 229, 252, 0.47);
      border-radius: 10px;

      h3 {
        font-weight: 600;
        font-size: 12px;
        line-height: 22px;
        text-align: center;
        letter-spacing: -0.408px;
        color: #000000;
      }

      h2 {
        font-weight: 600;
        font-size: 12px;
        line-height: 22px;
        text-align: center;
        letter-spacing: -0.408px;
        color: #000000;
      }

      ion-icon {
        color: red;
        margin-left: 40px;
      }
    }
  }

  .block5 {
    h1 {
      font-weight: 300;
      font-size: 12px;
      line-height: 22px;
      text-align: center;
      letter-spacing: -0.408px;
      color: #000000;
    }
  }

  .block6 {
    margin-left: 8px;
    margin-top: 9px;
    width: 344px;
    height: 0;
    left: 42px;
    top: 483px;

    border: 1px solid #BFBFBF;
  }

  .block7 {
    margin-left: 9px;

    h1 {
      font-weight: 600;
      font-size: 12px;
      line-height: 22px;

      letter-spacing: -0.408px;
      color: #000000;
    }

    p {
      font-weight: 300;
      font-size: 12px;
      line-height: 22px;
      letter-spacing: -0.408px;
      color: #000000;
    }
  }

  .block8 {
    padding-top: 20px;
    display: flex;
    align-content: center;

    h1 {
      font-weight: 600;
      margin-left: 3px;
      font-size: 12px;
      line-height: 22px;
      text-align: center;
      letter-spacing: -0.408px;
      color: #000000;
    }

    a {
      font-weight: 600;
      margin-left: 260px;
      font-size: 10px;
      line-height: 22px;
      text-align: center;
      letter-spacing: -0.408px;
      color: rgba(0, 92, 145, 0.59);
    }
  }

  .block9 {
    margin-top: 1px;
    margin-left: 15px;

    width: 227px;
    height: 76px;
    left: 50px;
    top: 615px;
    background: #E6E6E6;
    border-radius: 10px;

    .block10 {
      display: flex;
      justify-content: space-between;

      h1 {
        font-weight: 600;
        font-size: 9px;
        line-height: 22px;
        text-align: center;
        letter-spacing: -0.408px;
        color: #000000;
      }

      p {
        font-weight: 300;
        font-size: 6px;
        line-height: 22px;
        text-align: center;
        letter-spacing: -0.408px;
        color: #000000;
        margin-top: -12px;
        margin-left: -20px;
      }

      img {
        margin-left: -8px;
      }

      ion-icon {
        box-sizing: border-box;
        color: #F1C644;
        width: 10px;
        margin-left: 2px;

      }
    }

    p {
      font-weight: 300;
      font-size: 8px;
      line-height: 22px;
      letter-spacing: -0.408px;
      color: #000000;
      margin-left: 8px;
    }
  }

  .block11 {
    button {
      margin-left: 9px;
      left: 10.51%;
      right: 9.11%;
      top: 74.62%;
      bottom: 21.06%;
      background: #181717;
      border-radius: 5.39259px;
      font-weight: 500;
      font-size: 13.4815px;
      line-height: 16px;
      width: 344px;
      height: 40px;
      color: #FFFFFF;
    }
  }

  .block12 {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-bottom: 100px;
  }

  .bg {

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 3px 32px;
      background: #F6F6F6;
      border-radius: 16px;
      width: 309px;
      height: 43px;
      left: 454px;
      bottom: 10px;
      font-size: 22px;
      position: fixed;
    }
  }
}